@model ijpie.Web.Models.Lab

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lab</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LabConfig.VM_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabConfig.VM_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time_Zone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_Zone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser_Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
