@model ijpie.Web.Models.LabSoftware
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Software_ID, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Software_ID)
            @Html.ValidationMessageFor(model => model.Software_ID)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Software_Path, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Software_Path)
            @Html.ValidationMessageFor(model => model.Software_Path)
        </div>
    </div>
</div>