@model ijpie.Web.Models.LabCreate
@{
    List<SelectListItem> imageList = (List<SelectListItem>)TempData["OS"];
    List<SelectListItem> sizeList = (List<SelectListItem>)TempData["Size"];
}
<div style="overflow:hidden">
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.VM_Count, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.VM_Count)
            @Html.ValidationMessageFor(model => model.VM_Count)
        </div>
    </div>
</div>

<div class="machine-size-os">
    <span class="glyphicon glyphicon-random toggle-machine-size-os" title="Use predefined or upload a custom Virtual Machine Image"></span>
    <div class="predefined-size-os">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Machine_Size, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("Machine_Size", sizeList, "Select Size")
                @Html.ValidationMessageFor(model => model.Machine_Size)
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.OS, new { @class = "control-label col-md-3" })
            <div class="col-md-9" id="image-list" data-count=" 1">
                @Html.DropDownListFor(model => model.OS, imageList, "Select Image")
                @Html.ValidationMessageFor(model => model.OS)
            </div>
        </div>
    </div>
    <div class="choose-custom-machine">
        <div class="form-group col-md-6">
            <label class="control-label col-md-3" for="vm-image">Upload a VM Image</label>
            <div class="col-md-9">
                <input type="file" name="vm-image" id="vm-image" />
            </div>
        </div>
    </div>
</div>

@*@{  
    ijpie.Web.Models.ApplicationDbContext db = new ijpie.Web.Models.ApplicationDbContext();
    ViewBag.AvailableSoftwares = db.Softwares.ToList();
}*@
<div style="overflow: hidden">
    @*<div class="form-group col-md-6">
        <label for="software[0]" class="col-md-3">Select software</label>
        <div class="col-md-9">
            @foreach (var o in ViewBag.AvailableSoftwares)
            {
                <label>
                    <input type="checkbox"
                           name="predefinedSoftwares"
                           value="@o.ID" />
                    <span>@o.Software_Name</span>
                </label>
                <br />
            }
        </div>
    </div>*@
    @*<div class="form-group col-md-6">
        @Html.LabelFor(model => model.Networked, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Networked)
            @Html.ValidationMessageFor(model => model.Networked)
        </div>
    </div>*@
</div>

<div style="overflow: hidden">
    <div class="form-group col-md-6">
        <label for="data-disk" class="control-label col-md-3">Upload Image</label>
        <div class="col-md-9 data-disk-list" data-count="1">
            <input type="file" name="data-disk" id="data-disk" class="data-disk" />
        </div>
    </div>   

    @*<div class="form-group col-md-6">
        <label for="custom-software" class="control-label col-md-3">Upload software</label>
        <div class="col-md-9 custom-software-list" data-count="1">
            <input type="file" name="custom-software" id="custom-software" class="custom-software" />
        </div>
    </div>*@
</div>
